<div #grid class="card-list">

  <ng-container *ngIf="!loadingInitial; else initialSkeletons">
    <app-investor-card
      *ngFor="let i of visible; trackBy: trackById"
      [user]="i.user"
      [profile]="i.profile">
    </app-investor-card>

    <ng-container *ngIf="loadingMore">
      <div class="card skeleton" *ngFor="let _ of [].constructor(skeletonMoreCount)">
        <div class="image-container shimmer"></div>
        <div class="card-content">
          <div class="line w-80 shimmer"></div>
          <div class="line w-60 shimmer"></div>
        </div>
      </div>
    </ng-container>

    <div #sentinel class="sentinel"></div>
  </ng-container>

</div>

<ng-template #initialSkeletons>
  <div class="card-list">
    <div class="card skeleton" *ngFor="let _ of [].constructor(skeletonInitialCount)">
      <div class="image-container shimmer"></div>
      <div class="card-content">
        <div class="line w-80 shimmer"></div>
        <div class="line w-60 shimmer"></div>
      </div>
    </div>
  </div>
</ng-template>
